/* EmployeeTable.css */
.student-table {
  width: 10in;
  border: 1px solid #ddd;
  height: 100px;
  border-collapse: collapse; /* Merges table borders */
  margin: 20px 0;
  font-family: sans-serif;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.student-table th, .student-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.student-table th {
  background-color: #0049be; /* Green header background */
  color: white;
}

.student-table tbody tr:hover {
  background-color: #000000; /* Highlight row on hover */
}
button{
    background-color: #0049be;
}